<% form_actions = capture do %>
  <div class='form-actions'>
    <div class='form-actions-left'>
      <a class='button js-page-images-done'><%= I18n.t('refinery.js.admin.page_images.done') %></a>
    </div>
  </div>
<% end %>

<% modal_class = Refinery::PageImages.config.wysiwyg ? 'wym' : 'plain' %>

<div class='wym_box field images_field'>
  <ul id='page_images' class='clearfix'>
    <%= f.fields_for :images do |image_form| %>
      <li id='image_<%= image_form.object.id %>'>
        <%= image_form.hidden_field :id %>
        <%= image_fu image_form.object, '135x135#c' %>
        <% index = image_form.object_name.split('[').last.split(']').first.to_i %>
        <%= hidden_field_tag "#{f.object_name.demodulize}[images_attributes][#{index}][image_page_id]", f.object.image_page_id_for_image_index(index) %>
        <% if Refinery::PageImages.captions %>
          <div class='page-images-caption-modal <%= modal_class %>'>
            <%= text_area_tag "#{f.object_name.demodulize}[images_attributes][#{index}][caption]",
                              f.object.caption_for_image_index(index),
                              :style => 'display: none',
                              :id => "page_captions_#{index}",
                              :class => 'page_caption' %>
            <%= raw form_actions %>
          </div>
        <% end %>
      </li>
    <% end %>
    <li class='js-page-images-template'>
      <%= hidden_field_tag "#{f.object_name.demodulize}[images_attributes][#{f.object.images.length}][id]" %>
      <% if Refinery::PageImages.captions %>
        <div class='page-images-caption-modal <%= modal_class %>'>
          <%= text_area_tag "#{f.object_name.demodulize}[images_attributes][#{f.object.images.length}][caption]",
                            '',
                            :style => 'display: none',
                            :id => "page_captions_#{f.object.images.length}",
                            :class => 'page_caption' %>
          <%= raw form_actions %>
        </div>
      <% end %>
    </li>
  </ul>
</div>
