<div class='wym_skin_refinery page_part' id='page_image_picker'>
  <div class='wym_area_top'>
    <ul class='wym_section'>
      <li>
        <%= link_to 'Add Image',
                    insert_admin_images_url(
                      :dialog => true,
                      :width => 950,
                      :height => 510,
                      :callback => "image_added"
                    ),
                    :id => "add_image_link" %>
      </li>
    </ul>
  </div>
  <div class='wym_box field images_field'>
    <ul id='page_images' class='clearfix'>
      <%= f.fields_for :images do |image_form| %>
        <li id='image_<%= image_form.object.id %>'>
          <%= image_form.hidden_field :id %>
          <%= image_fu image_form.object, '135x135#c' %>
        </li>
      <% end %>
      <li class='empty'>
        <%= hidden_field_tag "page[images_attributes][#{@page.images.size}][id]" %>
      </li>
    </ul>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'page-image-picker' %>
  <%= stylesheet_link_tag 'page-image-picker' %>
<% end %>